body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #005f73;
    color: white;
    padding: 20px;
}

table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}

thead {
    background-color: #0a9396;
    color: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #e0f7fa;
}